/build/
/tmp/
/share-source.html
*.user
/tests/private/
/tests/tools/
/tests/fixtures/
/tests/results/
/dist/
/third_party/pdfium/
/*.zip
/*.xlsx
/*.xls
/*.pdf
/*.html
/.publish/
__pycache__/
*.pyc
*.pdb
*.obj
*.tsv
*.storage
*.xlsx
*.xls
